<h1>Issues of {{name}} repository</h1>
<mat-card class="wrapper" *ngFor="let issue of issues">
  <div class="data-user">
    <div class="data-user">
      <img src={{issue.user.avatar_url}}>
    </div>
    <div>{{issue.user.login}}</div>
  </div>
  <div class="data-issue">
    <mat-card-title>{{issue.title}}</mat-card-title>
    <mat-card-subtitle>{{issue.body}}</mat-card-subtitle>
    <ol *ngFor="let comment of issue.comments">
      <li>{{comment}}</li>
    </ol>
    <div>
      <mat-form-field class="input-width">
        <textarea matInput placeholder="Comment" #text></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addComment(text.value, issue); text.value =''">
        Send
      </button>
    </div>
  </div>

</mat-card>