.wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.data-user{
    flex: 1;
    text-align: center;
 }
.data-issue{
    flex: 9;
    flex-direction: column;
}

img{
    width: 100px;
    height: 100px;
}
.input-width{
    width: 50%;
}