<h1>Issues of {{name}} repository</h1>
<div class="add-issue">
  <mat-form-field class="input-width">
    <input matInput placeholder="Title issue..." [(ngModel)]="newIssue.title">
  </mat-form-field>
  <mat-form-field class="input-width">
    <input matInput placeholder="Body issue..." [(ngModel)]="newIssue.body">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addIssue(newIssue)">
    <mat-icon>add</mat-icon>
    Add Issue
  </button>
</div>
<mat-card class="wrapper" *ngFor="let issue of issues">
  <div class="data-user">
    <div class="data-user">
      <img src={{issue.user.avatar_url}}>
    </div>
    <div>{{issue.user.login}}</div>
  </div>
  <div class="data-issue">
    <mat-card-title>{{issue.title}}</mat-card-title>
    <mat-card-subtitle>{{issue.body}}</mat-card-subtitle>
    <div *ngFor="let comment of issue.comments">
      <p>{{comment}}</p>
    </div>
    <div>
      <mat-form-field class="input-width">
        <textarea matInput placeholder="Comment" #text></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addComment(text.value, issue); text.value =''">
        Send
      </button>
    </div>
  </div>

</mat-card>